*.user

*-Debug

*-Release

*.vcxproj*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

.\build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#others

*.rej
*.stash
*.rc
*.res
*.exp
*.ilk
*.pdb

# Visual Studio files
.vs*
x64*
*.log
*.tlog
*.TMP
*.tmp

tests/SolARHomographyEstimation/xpcf_custom\.xml

build-SolARTestModuleCeres-R/pose1.txt
build-SolARTestModuleCeres-R/pose0.txt
build-SolARTestModuleCeres-R/kp0.txt
build-SolARTestModuleCeres-R/D.txt
build-SolARTestModuleCeres-R/K.txt
build-SolARTestModuleCeres-R/kp1.txt
build-SolARTestModuleCeres-R/cloud.txt
room15Bundle/room15Measure_11.txt
room15Bundle/room15Measure_10.txt
room15Bundle/room15Measure_1.txt
room15Bundle/room15Measure_0.txt
room15Bundle/room15Distorsion.txt
room15Bundle/room15Calibration_orig.txt
room15Bundle/room15Calibration.txt
interfaces/SolARBundlerCeres.h.autosave
build-SolARTestModuleCeres-R/Makefile
src/SolARBundlerCeres.cpp.autosave
room8Bundle/room8Measure_2.txt
room8Bundle/room8Measure_1.txt
room8Bundle/room8Measure_0.txt
room8Bundle/room8Distorsion1.txt
room8Bundle/room8Distorsion.txt
room8Bundle/room8Calibration.txt
room6Bundle/solarPoses.txt
room6Bundle/room6Poses.txt
room6Bundle/room6Distorsion.txt
room6Bundle/room6Calibration.txt
room4Bundle/room4Poses.txt
room4Bundle/room4Observations.txt
room4Bundle/room4Measurements.txt
room4Bundle/room4Measure_3.txt
room4Bundle/room4Measure_2.txt
room4Bundle/room4Measure_1.txt
room4Bundle/room4Measure_0.txt
room15Bundle/room15Measure_7.txt
room15Bundle/room15Measure_6.txt
room15Bundle/room15Measure_5.txt
room15Bundle/room15Measure_4.txt
room15Bundle/room15Measure_3.txt
room15Bundle/room15Measure_2.txt
room15Bundle/room15Measure_14.txt
room15Bundle/room15Measure_13.txt
room15Bundle/room15Measure_12.txt
room8Bundle/room8Poses.txt
room8Bundle/room8Observations.txt
room8Bundle/room8Measurements.txt
room8Bundle/room8Measure_7.txt
room8Bundle/room8Measure_6.txt
room8Bundle/room8Measure_5.txt
room8Bundle/room8Measure_4.txt
room8Bundle/room8Measure_3.txt
room6Bundle/room6Observations.txt
room6Bundle/room6Measurements.txt
room6Bundle/room6Measure_5.txt
room6Bundle/room6Measure_4.txt
room6Bundle/room6Measure_3.txt
room6Bundle/room6Measure_2.txt
room6Bundle/room6Measure_1.txt
room6Bundle/room6Measure_0.txt
room4Bundle/room4Distorsion.txt
room4Bundle/room4Calibration.txt
room15Bundle/room15Poses.txt
room15Bundle/room15Observations.txt
room15Bundle/room15Measurements.txt
room15Bundle/room15Measure_9.txt
room15Bundle/room15Measure_8.txt
